body {
    background-color: rgb(255, 255, 255);

}
h1 {
    text-align: center;
}

h2 {
    color: cyan;
    text-align: center;
}

ul {
  color: rgb(4, 4, 4);
  text-align: center;         
}


#darkmode-btn{
    background-color: aqua;
    display: block;
    margin: 0 auto;
} 

.dark-mode{
    background-color: black;
}